<!DOCTYPE html>
<html>
    <head>
        <title>
            HTML Layouts
        </title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="headerLeft">
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>

            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
        </div>
        <div class="headerRight">
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>

            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
            <h1>Welcome</h1>
        </div>

    </body>
</html>