body{
    margin: 0;
}
.topHeader{
    background-color: #0C9786;
    height: 45px;
}

.container{
    width: 90%;
    margin: auto;
}
.headerLeft,.logoLeft{
    width:50%;
    float: left;
}

.headerRight,.logoRight{
    width: 50%;
    float: right;
}

.headerItems{
    list-style-type: none;
    padding: 0;
}

.headerItems li{
    display: inline;
    color: #FFFFFF;
    font-weight: bold;
}

.headerRightItems{
    text-align: right;
}

.logoHeader{
    background-color: #3D3D3D;
    height: 100px;
}

.logoLeft{
    padding-top: 19px;
}

.logoRight{
    text-align: right;
}

.logoRight ul{
    list-style-type: none;
    height: 100px;
    margin: 0;
}

.logoRight ul li{
    display: inline;
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px;
    line-height: 80px;
}

.logoRight ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.logoRight ul li a:hover{
    color: #FF0000;
    border:2px solid #FFFFFF;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.bannerBottom{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #0C9786;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bannerLayout{
    width: 32%;
    float: left;
}

.display_inline{
    list-style-type: none;
    padding:0;
}

.display_inline li{
    display: inline;
}

.imgLayout{
    width: 15%;
    float: left;
}

.contentLayout{
    margin-left: 10px;
    width: 80%;
    float: left;
    padding-top: 8px;
}

.contentLayout span{
    color: #FFFFFF;
}

.text_bold{
    font-weight: bold;
    font-size: 25px;
}

.text-center{
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
}

.setHeight{
    height: 35px;
}

.certficate{
    height: auto;
    overflow: auto;
}

.certDiv{
    width: 30%;
    float: left;
    margin-left: 35px;
    margin-top: 20px;
}

.certImage{
    border:1px solid #9f9507;
    border-radius: 10px;
    text-align: center;
}

.certImage img{
    border-radius: 10px;
}

.text-black{
color: #000000;
}

.text-justify{
    text-align: justify;
}

.certLink{
    text-align: center;
    display: block;
}

.sideCall{
    width:250px;
    height:50px;
    background-color: #FF0000;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    right: -100px;
    top:250px;
    position: fixed;
    transform: rotate(-90deg);
}
.sideCall a{
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.bottomCall{
    background-color: red;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 0;
    -webkit-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);
box-shadow: -1px 3px 17px 0px rgba(0,0,0,0.75);

}

.bottomWhatsapp{
    background-color: red;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index :1;
}

.footer{
    
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: #afacac;
    border-bottom: 5px solid #FF0000;
}

