body{
  background-color: blueviolet;
}

h1{
  width:50%;
  margin:15px;
  border-radius: 15px;
}

.myHeading{
  border-radius: 50px;
}

.myHeader{
  height: 45px;
  width: 100%;
  background-color: black;
}

.myHeader{
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left{
  /* float:left;
  width: 50%; */
  color: #FFFFFF;
  font-weight: bold;
}

.header_right{
  /* float:right;
  width:50%; */
  color:#FFFFFF;
  font-weight: bold;
}